// COLORS
$green: #55c57a;
$light-green: #7ed56f;
$dark-green: #28b485;
$light-orange: #f8961e;
$orange: #f3722c;
$light-blue: #4ecdc4;
$blue: #028090;
$snow-white: #f6fafb;
$white: #fff;
$grey: #7da2a9;
$steel-grey: #52796f;
$dark-grey: #335c67;
$black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 8rem;
$gutter-horizontal: 6rem;
